@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
html, body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


/*MENU CONTAINER*/


#menu{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.scroll-menu-arrow {
    padding:10px;
    cursor: pointer;
}


/*CARDS*/

.card {
    margin-left: 20px;
    margin-right: 20px;
}

.front {
    border-radius: 20px;
    width: 35vw;
    height: 42vw;    
    cursor: pointer;
}

.back{
    background-color: rgb(233, 253, 144);
    border-radius: 20px;
    width: 35vw;
    height: 42vw;  
    overflow: hidden;  
}

.quoteBox {
    text-align: left;
    font-size: 2vw;
    font-family: 'Raleway', sans-serif;
    margin: 3vw;
    margin-top: 2vw;
}

.quote {
    text-align: inherit;
    height: 32vw;
    width: 102%;
    overflow: auto;
}

.author {
    margin-right: 5vw;
    text-align: end;
}

.buttons{
    display: flex;
    position: fixed;
    bottom: 6%;
    left: 5%;
    right: 5%;
    justify-content: space-around;
}

.button {
    text-decoration: none;
	border: none;
    border-radius: 5px;
	color: #fff;
	background-color:black;
	outline: none;
	font-size: 0.85em;
    padding: 10px 20px 10px 20px;
    margin: 1px;
	opacity: 1;
    cursor: pointer;
}

.button:hover {
    
}
