body {
	background-color: #333;
    overflow: hidden;
    
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
    width: 65vw;
    height: 38vw;
    grid-gap: 0;
}



#card {
    cursor: pointer;
}


.characterImage { 
    transition: transform .2s;
    position: absolute;
    backface-visibility: hidden;
}

.characterQuote{ 
    position: absolute;
    backface-visibility: hidden;
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

.characterImage:hover {
    transform: scale(1.2); 
    z-index: 1;
}

.flipped {
    transition: transform .2s;
    transform: rotateY( 180deg);
}
/*


img {
    position: absolute;
    transition: transform .2s;
}

img:hover {
    transform: scale(1.2); 
    z-index:1;
}


img {
  
    transition: transform .2s;
}
img:hover {
    transform: scale(1.2); 
}

*/